name: Documentation

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Generate Documentation
        uses: SwiftDocOrg/swift-doc@master
        with:
          inputs: "Sources"
          module-name: "Kubewarden SDK"
          format: "html"
          output: "docs"
      - name: fix permissions
        run: |
          sudo chown -R $USER docs
      - name: Configure Git
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git config --global url."https://${GH_TOKEN}:x-oauth-basic@github.com/".insteadOf "https://github.com/"
      - name: Update GH pages
        run: |
          git fetch origin gh-pages
          git checkout -B gh-pages origin/gh-pages || git checkout --orphan gh-pages
          cp -r ./docs/* .
          git add .
          git commit -m "Update documentation for $GITHUB_REF" || echo "No changes to commit"
